@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
    position:relative;
    top:6rem;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    padding:1rem auto;
    width:100vw;
    justify-content:center;
    .card{
        display:inline-block;
        width:20rem;
        height:17rem;
        border-radius:5px;
        border:1px solid rgb(8, 255, 21);
        margin:1rem;
        transition:transform .5s ease-in-out;
        &:hover{
            transform:scale(1.1,1.1);
            cursor:pointer;
            box-shadow:1px 1px 2px 1px rgb(0, 235, 0);;
            

        }
        .icon{
            height:3rem;
            width:3rem;
            color:gray;
            margin-left:80%;
            margin-top:.2rem;
            margin-bottom:.2rem;
            position:relative;
        }
        p{
            overflow:hidden;
            text-overflow: ellipsis;
            white-space:wrap;
            position:relative;
            width:18rem;
            height:60%;
            padding:.5rem;
            font-size: .8rem;
            font-family: "Poppins",sans-serif;
            margin:.5rem auto;
        
        }
        span{
            margin-top:0;
            font-size:.5rem;
            color:gray;
            font-weight:bold;
            margin-left:1.2rem;
        }
    }
}